@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset  */
html {
    color: #34495e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
}

img {
    display: block;
    width: 100%;
}

input {
    outline: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

select {
    outline: none;
}


/* Styles  */
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.track {
    border: dashed 2px #999;
}



/* Color  */
.text-asp {
    color: #34495e;
}
.text-asbe {
    color: #7f8c8d;
}
.bg-f4 {
    background-color: #f4f4f4;
}
.bg-d9 {
    background-color: #d9d9d9;
}